/*
Document   : footer
Created on : Sep 26, 2012, 11:25:40 PM
Author     : trimmedon
Description:
Purpose of the stylesheet follows.
*/

#footer {
   border-top:1px solid darken($main-background-color, 1%);
   padding-top: 20px;
   text-align: center;
   margin-top: -3px;
   position: relative;
   bottom: 0;
   .copyright {
      @include clearfix;
      .logo {
         display: block;
         float: left;
         font-size: 15px;
         font-family: aboree;
         @include clearfix;
         .icon {
            display: block;
            float: left;
            margin-right: 5px;
            @include sprites(footer_logo);
         }
         .site-title {
            margin-top: 2px;
            display: block;
            float: left;
         }
      }
      .terms-of-use {
         font-family: sans-serif;
         float: right;
         font-size: 11px;
         line-height: 1.2em;
         @include clearfix;
         li {
            float: left;
            margin-right: 10px;
            a {
               text-decoration: none;
               color: rgba(35, 35, 1, 1);
            }
            &:last-child {
               margin-right: 0;
            }
         }
      }
   }
   a {
      color: #000000;
      text-decoration: none;
   }
}