/*
Document   : _login
Created on : 02/03/2013, 1:02:02 PM
Author     : trimmedon
Description:
Purpose of the stylesheet follows.
*/
.login-form-block {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   @include clearfix;
   .login-form {
      width: 100%;
      margin-bottom: 30px;
      @include clearfix;
      .username,
      .password {
         float: left;
      }
      .username,
      .password {
         .input {
            border: 1px solid rgba(2, 16, 5, 1);
            line-height: 1em;
            font-size: 16px;
            padding: 10px;
            width: 200px;
            color: #111111;
            font-family: aboree;
            display: block;
            margin-right: 10px;
            @include box-shadow(#ccc 0 0 3px 1px inset);
            &:focus {
               @include box-shadow(rgba(35, 35, 1, 1) 0 0 8px, #aaa 0 0 3px 1px inset);
            }
         }
         .fg {
            color: #ffffff;
            margin-left: 1px;
            margin-top: 5px;
            font-size: 12px;
            @include text-shadow(0 1px 0 #000000);
         }
      }
      .username {
         .input {
            @include border-radius(6px 0 0 0);
         }
      }
      .password {
         .input {
            @include border-radius(0 0 6px 0);
         }
      }
      .login-button {
         border: 1px solid darken($login-button-background-color, 1%);
         padding: 9px 10px;
         font-size: 16px;
         font-family: aboree;
         line-height: 1em;
         color: #FFFFFF;
         cursor: pointer;
         @include text-shadow(0 -1px 0 darken($login-button-background-color, 100%));
         background-color: $login-button-background-color;
         background-image: linear-gradient(lighten($login-button-background-color, 5%), $login-button-background-color);
         @include border-radius(0 10px 0 0);
         &:active {
            background-image: linear-gradient(lighten($login-button-background-color, 5%), lighten($login-button-background-color, 1%));
         }
      }
   }
   .signup {
      color: #ffffff;
      font-size: 15px;
      @include text-shadow(0 1px 0 #000000);
   }
}