/*
Document   : _mixins
Created on : Sep 26, 2012, 11:40:18 PM
Author     : trimmedon
Description:
Purpose of the stylesheet follows.
*/
$sprites-layout: smart;
$sprites-spacing: 2px;
@import "sprites/*.png";

@mixin sprites($name){
	height: sprites-sprite-height($name);
	width: sprites-sprite-width($name);	
	@include sprites-sprite($name);
}

@mixin welcome-font {
   @include font-face("aboree", font-files("kai/abeatbykairegular-webfont.eot", "kai/abeatbykairegular-webfont.svg", "kai/abeatbykairegular-webfont.ttf", "kai/abeatbykairegular-webfont.woff"));
}

@mixin welcome-font-slogan {
   @include font-face("slogan", font-files("quicksand_book-webfont.eot", "quicksand_book-webfont.svg", "quicksand_book-webfont.ttf", "quicksand_book-webfont.woff"));
}

@mixin welcome-font-alt {
   @include font-face("trimmedon", font-files("wow/WorldofWater-Regular.ttf", "wow/WorldofWater-Regular.otf", "wow/WorldofWater-Regular.woff", "wow/WorldofWater-Regular.svg", "wow/WorldofWater-Regular.eot"));
}