/*
Document   : _register
Created on : 02/03/2013, 1:03:03 PM
Author     : trimmedon
Description:
Purpose of the stylesheet follows.
*/

.register-form-block {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
}