/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/
// Variables
// ================================================== //


// Grid
// -------------------------------------------------- //

//$grid-column-width    : 40px;
$grid-gutter-width-when-large    : 20px;
$grid-gutter-width-when-small    : 20px;
$grid-total-columns   : 16;
$grid-width-when-large: 960px;
$grid-width-when-small: 768px;

$grid-column-width-when-large: ($grid-width-when-large / $grid-total-columns) - $grid-gutter-width-when-large;
$grid-column-width-when-small: ($grid-width-when-small / $grid-total-columns) - $grid-gutter-width-when-small;

$grid-offset-when-large : ($grid-column-width-when-large + $grid-gutter-width-when-large);
$grid-offset-when-small : ($grid-column-width-when-small + $grid-gutter-width-when-small);

// Mixins
// ================================================== //


// Grid Mixins
// -------------------------------------------------- //

@mixin grid ($count:1, $border: 0, $size: large, $nomargin: false) {
	$gutter : $grid-gutter-width-when-small;
	$base   : $grid-column-width-when-small * $count;
	@if $size == "large"{
    $gutter : $grid-gutter-width-when-large;
    $base   : $grid-column-width-when-large * $count;
	}
	@if $nomargin{
		width: $base + (($count - 1 + ($nomargin / 2)) * $gutter) - $border;
	}
	@else{
		width: $base + (($count - 1) * $gutter) - $border;
	}
	
}
 
@mixin offset ($cols:1, $size: large) {
	@if ($size == large){
    padding-left: ($cols * $grid-offset-when-large) + 0px;
	}
	@else{
		padding-left: ($cols * $grid-offset-when-small) + 0px;
	}
			
}

// #Base 960 Grid
// ================================================== //

.container                           { position: relative; width: $grid-width-when-large; margin: 0 auto; padding: 0; }
.row                                 { margin-bottom: 20px; }

.pad-by-half{padding: 0 $grid-column-width-when-large/2;}

// Base Grid
.container {
	$gutter : $grid-gutter-width-when-large;
	.column, .columns{
		float: left; 
		display: inline;  

		margin-left:($gutter / 2);    
		margin-right:($gutter / 2);
	}
	.one.column,
	.one.columns                     { @include grid(1); }
	.two.columns                     { @include grid(2); }
	.three.columns                   { @include grid(3); }
	.four.columns                    { @include grid(4); }
	.five.columns                    { @include grid(5); }
	.six.columns                     { @include grid(6); }
	.seven.columns                   { @include grid(7); }
	.eight.columns                   { @include grid(8); }
	.nine.columns                    { @include grid(9); }
	.ten.columns                     { @include grid(10); }
	.eleven.columns                  { @include grid(11); }
	.twelve.columns                  { @include grid(12); }
	.thirteen.columns                { @include grid(13); }
	.fourteen.columns                { @include grid(14); }
	.fifteen.columns                 { @include grid(15); }
	.sixteen.columns                 { @include grid(16); }
	
	.one.column.nomargin,
	.one.columns.nomargin                     { @include grid(1, $nomargin:2); }
	.two.columns.nomargin                     { @include grid(2, $nomargin:2); }
	.three.columns.nomargin                   { @include grid(3, $nomargin:2); }
	.four.columns.nomargin                    { @include grid(4, $nomargin:2); }
	.five.columns.nomargin                    { @include grid(5, $nomargin:2); }
	.six.columns.nomargin                     { @include grid(6, $nomargin:2); }
	.seven.columns.nomargin                   { @include grid(7, $nomargin:2); }
	.eight.columns.nomargin                   { @include grid(8, $nomargin:2); }
	.nine.columns.nomargin                    { @include grid(9, $nomargin:2); }
	.ten.columns.nomargin                     { @include grid(10, $nomargin:2); }
	.eleven.columns.nomargin                  { @include grid(11, $nomargin:2); }
	.twelve.columns.nomargin                  { @include grid(12, $nomargin:2); }
	.thirteen.columns.nomargin                { @include grid(13, $nomargin:2); }
	.fourteen.columns.nomargin                { @include grid(14, $nomargin:2); }
	.fifteen.columns.nomargin                 { @include grid(15, $nomargin:2); }
	.sixteen.columns.nomargin                 { @include grid(16, $nomargin:2); }
	
	.one.column.nomargin.alpha,.one.column.nomargin.omega,
	.one.columns.nomargin.alpha,.one.columns.nomargin.omega                     { @include grid(1, $nomargin:1); }
	.two.columns.nomargin.alpha,.two.columns.nomargin.omega                     { @include grid(2, $nomargin:1); }
	.three.columns.nomargin.alpha,.three.columns.nomargin.omega                   { @include grid(3, $nomargin:1); }
	.four.columns.nomargin.alpha,.four.columns.nomargin.omega                    { @include grid(4, $nomargin:1); }
	.five.columns.nomargin.alpha,.five.columns.nomargin.omega                    { @include grid(5, $nomargin:1); }
	.six.columns.nomargin.alpha,.six.columns.nomargin.omega                     { @include grid(6, $nomargin:1); }
	.seven.columns.nomargin.alpha,.seven.columns.nomargin.omega                   { @include grid(7, $nomargin:1); }
	.eight.columns.nomargin.alpha,.eight.columns.nomargin.omega                   { @include grid(8, $nomargin:1); }
	.nine.columns.nomargin.alpha,.nine.columns.nomargin.omega                    { @include grid(9, $nomargin:1); }
	.ten.columns.nomargin.alpha,.ten.columns.nomargin.omega                     { @include grid(10, $nomargin:1); }
	.eleven.columns.nomargin.alpha,.eleven.columns.nomargin.omega                  { @include grid(11, $nomargin:1); }
	.twelve.columns.nomargin.alpha,.twelve.columns.nomargin.omega                  { @include grid(12, $nomargin:1); }
	.thirteen.columns.nomargin.alpha,.thirteen.columns.nomargin.omega                { @include grid(13, $nomargin:1); }
	.fourteen.columns.nomargin.alpha,.fourteen.columns.nomargin.omega                { @include grid(14, $nomargin:1); }
	.fifteen.columns.nomargin.alpha,.fifteen.columns.nomargin.omega                 { @include grid(15, $nomargin:1); }
	.sixteen.columns.nomargin.alpha,.sixteen.columns.nomargin.omega                 { @include grid(16, $nomargin:1); }
	
	
	
	.one.column.single-border,
	.one.columns.single-border                     { @include grid(1, 1px); }
	.two.columns.single-border                     { @include grid(2, 1px); }
	.three.columns.single-border                   { @include grid(3, 1px); }
	.four.columns.single-border                    { @include grid(4, 1px); }
	.five.columns.single-border                    { @include grid(5, 1px); }
	.six.columns.single-border                     { @include grid(6, 1px); }
	.seven.columns.single-border                   { @include grid(7, 1px); }
	.eight.columns.single-border                   { @include grid(8, 1px); }
	.nine.columns.single-border                    { @include grid(9, 1px); }
	.ten.columns.single-border                     { @include grid(10, 1px); }
	.eleven.columns.single-border                  { @include grid(11, 1px); }
	.twelve.columns.single-border                  { @include grid(12, 1px); }
	.thirteen.columns.single-border                { @include grid(13, 1px); }
	.fourteen.columns.single-border                { @include grid(14, 1px); }
	.fifteen.columns.single-border                 { @include grid(15, 1px); }
	.sixteen.columns.single-border                 { @include grid(16, 1px); }
	.one.column.dual-border,
	.one.columns.dual-border                     { @include grid(1, 2px); }
	.two.columns.dual-border                     { @include grid(2, 2px); }
	.three.columns.dual-border                   { @include grid(3, 2px); }
	.four.columns.dual-border                    { @include grid(4, 2px); }
	.five.columns.dual-border                    { @include grid(5, 2px); }
	.six.columns.dual-border                     { @include grid(6, 2px); }
	.seven.columns.dual-border                   { @include grid(7, 2px); }
	.eight.columns.dual-border                   { @include grid(8, 2px); }
	.nine.columns.dual-border                    { @include grid(9, 2px); }
	.ten.columns.dual-border                     { @include grid(10, 2px); }
	.eleven.columns.dual-border                  { @include grid(11, 2px); }
	.twelve.columns.dual-border                  { @include grid(12, 2px); }
	.thirteen.columns.dual-border                { @include grid(13, 2px); }
	.fourteen.columns.dual-border                { @include grid(14, 2px); }
	.fifteen.columns.dual-border                 { @include grid(15, 2px); }
	.sixteen.columns.dual-border                 { @include grid(16, 2px); }
	
	.one-third.column                { @extend .one.column; width: (($grid-width-when-large - $grid-offset-when-large) / 3); }
	.two-thirds.column               { @extend .one.column; width: (($grid-width-when-large - $grid-offset-when-large) / 3) * 2; }

	// Offsets
	.offset-by-half                  { @include offset(0.5); }
	.offset-by-one                   { @include offset(1); }
	.offset-by-two                   { @include offset(2); }
	.offset-by-three                 { @include offset(3); }
	.offset-by-four                  { @include offset(4); }
	.offset-by-five                  { @include offset(5); }
	.offset-by-six                   { @include offset(6); }
	.offset-by-seven                 { @include offset(7); }
	.offset-by-eight                 { @include offset(8); }
	.offset-by-nine                  { @include offset(9); }
	.offset-by-ten                   { @include offset(10); }
	.offset-by-eleven                { @include offset(11); }
	.offset-by-twelve                { @include offset(12); }
	.offset-by-thirteen              { @include offset(13); }
	.offset-by-fourteen              { @include offset(14); }
	.offset-by-fifteen               { @include offset(15); }

	/* Nested Column Classes */
	.column.alpha, .columns.alpha    { margin-left: 0; }
	.column.omega, .columns.omega    { margin-right: 0; }
	
	.column.border-on-the-outside,.columns.border-on-the-outside{
		$gutter : $grid-gutter-width-when-large;
		padding-left:($gutter / 2);    
		margin-left:0;    
		padding-right:($gutter / 2);
		margin-right:0;
	}
	
	.column.alpha.border-on-the-outside, .columns.alpha.border-on-the-outside    { padding-left: 0; }
	.column.omega.border-on-the-outside, .columns.omega.border-on-the-outside    { padding-right: 0; }
	
	.column.nomargin, .columns.nomargin{margin-left:0; margin-right: 0; padding-left: 0; padding-right: 0;}
}


/* #Tablet (Portrait)
   ================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	
		.pad-by-half{padding: 0 $grid-column-width-when-small/2;}
    .container { width: $grid-width-when-small; }
		
		.container {
		.column, .columns{
			$gutter : $grid-gutter-width-when-small;
			float: left; 
			display: inline;  

			margin-left:($gutter / 2);    
			margin-right:($gutter / 2);
		}
    
		.column,
    .columns                         { margin-left: $grid-gutter-width-when-small/2; margin-right: $grid-gutter-width-when-small/2;  }
  

     .one.column,
     .one.columns                     { @include grid(1, 0, small); }
     .two.columns                     { @include grid(2, 0, small);  }
     .three.columns                   { @include grid(3, 0, small);  }
     .four.columns                    { @include grid(4, 0, small);  }
     .five.columns                    { @include grid(5, 0, small);  }
     .six.columns                     { @include grid(6, 0, small);  }
     .seven.columns                   { @include grid(7, 0, small);  }
     .eight.columns                   { @include grid(8, 0, small);  }
     .nine.columns                    { @include grid(9, 0, small);  }
     .ten.columns                     { @include grid(10, 0, small);  }
     .eleven.columns                  { @include grid(11, 0, small);  }
     .twelve.columns                  { @include grid(12, 0, small);  }
     .thirteen.columns                { @include grid(13, 0, small);  }
     .fourteen.columns                { @include grid(14, 0, small);  }
     .fifteen.columns                 { @include grid(15, 0, small);  }
     .sixteen.columns                 { @include grid(16, 0, small);  } //width: 748px; 
		 
		.one.column.nomargin,
		.one.columns.nomargin                     { @include grid(1, $size: small, $nomargin:2); }
		.two.columns.nomargin                     { @include grid(2, $size: small, $nomargin:2); }
		.three.columns.nomargin                   { @include grid(3, $size: small, $nomargin:2); }
		.four.columns.nomargin                    { @include grid(4, $size: small, $nomargin:2); }
		.five.columns.nomargin                    { @include grid(5, $size: small, $nomargin:2); }
		.six.columns.nomargin                     { @include grid(6, $size: small, $nomargin:2); }
		.seven.columns.nomargin                   { @include grid(7, $size: small, $nomargin:2); }
		.eight.columns.nomargin                   { @include grid(8, $size: small, $nomargin:2); }
		.nine.columns.nomargin                    { @include grid(9, $size: small, $nomargin:2); }
		.ten.columns.nomargin                     { @include grid(10, $size: small, $nomargin:2); }
		.eleven.columns.nomargin                  { @include grid(11, $size: small, $nomargin:2); }
		.twelve.columns.nomargin                  { @include grid(12, $size: small, $nomargin:2); }
		.thirteen.columns.nomargin                { @include grid(13, $size: small, $nomargin:2); }
		.fourteen.columns.nomargin                { @include grid(14, $size: small, $nomargin:2); }
		.fifteen.columns.nomargin                 { @include grid(15, $size: small, $nomargin:2); }
		.sixteen.columns.nomargin                 { @include grid(16, $size: small, $nomargin:2); }
		
		
		
		.one.column.nomargin.alpha,.one.column.nomargin.omega,
		.one.columns.nomargin.alpha,.one.columns.nomargin.omega                     { @include grid(1,$size: small, $nomargin:1); }
		.two.columns.nomargin.alpha,.two.columns.nomargin.omega                     { @include grid(2,$size: small, $nomargin:1); }
		.three.columns.nomargin.alpha,.three.columns.nomargin.omega                   { @include grid(3,$size: small, $nomargin:1); }
		.four.columns.nomargin.alpha,.four.columns.nomargin.omega                    { @include grid(4,$size: small, $nomargin:1); }
		.five.columns.nomargin.alpha,.five.columns.nomargin.omega                    { @include grid(5,$size: small, $nomargin:1); }
		.six.columns.nomargin.alpha,.six.columns.nomargin.omega                     { @include grid(6,$size: small, $nomargin:1); }
		.seven.columns.nomargin.alpha,.seven.columns.nomargin.omega                   { @include grid(7,$size: small, $nomargin:1); }
		.eight.columns.nomargin.alpha,.eight.columns.nomargin.omega                   { @include grid(8,$size: small, $nomargin:1); }
		.nine.columns.nomargin.alpha,.nine.columns.nomargin.omega                    { @include grid(9,$size: small, $nomargin:1); }
		.ten.columns.nomargin.alpha,.ten.columns.nomargin.omega                     { @include grid(10,$size: small, $nomargin:1); }
		.eleven.columns.nomargin.alpha,.eleven.columns.nomargin.omega                  { @include grid(11,$size: small, $nomargin:1); }
		.twelve.columns.nomargin.alpha,.twelve.columns.nomargin.omega                  { @include grid(12,$size: small, $nomargin:1); }
		.thirteen.columns.nomargin.alpha,.thirteen.columns.nomargin.omega                { @include grid(13,$size: small, $nomargin:1); }
		.fourteen.columns.nomargin.alpha,.fourteen.columns.nomargin.omega                { @include grid(14,$size: small, $nomargin:1); }
		.fifteen.columns.nomargin.alpha,.fifteen.columns.nomargin.omega                 { @include grid(15,$size: small, $nomargin:1); }
		.sixteen.columns.nomargin.alpha,.sixteen.columns.nomargin.omega                 { @include grid(16,$size: small, $nomargin:1); }

	
		 
		 .one.column.single-border,
	.one.columns.single-border                     { @include grid(1, 1px, small); }
	.two.columns.single-border                     { @include grid(2, 1px, small); }
	.three.columns.single-border                   { @include grid(3, 1px, small); }
	.four.columns.single-border                    { @include grid(4, 1px, small); }
	.five.columns.single-border                    { @include grid(5, 1px, small); }
	.six.columns.single-border                     { @include grid(6, 1px, small); }
	.seven.columns.single-border                   { @include grid(7, 1px, small); }
	.eight.columns.single-border                   { @include grid(8, 1px, small); }
	.nine.columns.single-border                    { @include grid(9, 1px, small); }
	.ten.columns.single-border                     { @include grid(10, 1px, small); }
	.eleven.columns.single-border                  { @include grid(11, 1px, small); }
	.twelve.columns.single-border                  { @include grid(12, 1px, small); }
	.thirteen.columns.single-border                { @include grid(13, 1px, small); }
	.fourteen.columns.single-border                { @include grid(14, 1px, small); }
	.fifteen.columns.single-border                 { @include grid(15, 1px, small); }
	.sixteen.columns.single-border                 { @include grid(16, 1px, small); }
	.one.column.dual-border,
	.one.columns.dual-border                     { @include grid(1, 2px, small); }
	.two.columns.dual-border                     { @include grid(2, 2px, small); }
	.three.columns.dual-border                   { @include grid(3, 2px, small); }
	.four.columns.dual-border                    { @include grid(4, 2px, small); }
	.five.columns.dual-border                    { @include grid(5, 2px, small); }
	.six.columns.dual-border                     { @include grid(6, 2px, small); }
	.seven.columns.dual-border                   { @include grid(7, 2px, small); }
	.eight.columns.dual-border                   { @include grid(8, 2px, small); }
	.nine.columns.dual-border                    { @include grid(9, 2px, small); }
	.ten.columns.dual-border                     { @include grid(10, 2px, small); }
	.eleven.columns.dual-border                  { @include grid(11, 2px, small); }
	.twelve.columns.dual-border                  { @include grid(12, 2px, small); }
	.thirteen.columns.dual-border                { @include grid(13, 2px, small); }
	.fourteen.columns.dual-border                { @include grid(14, 2px, small); }
	.fifteen.columns.dual-border                 { @include grid(15, 2px, small); }
	.sixteen.columns.dual-border                 { @include grid(16, 2px, small); }

     .one-third.column                { width: (($grid-width-when-small - $grid-offset-when-small) / 3); }
     .two-thirds.column               { width: (($grid-width-when-small - $grid-offset-when-small) / 3) * 2; }

    /* Offsets */
     .offset-by-half                   { @include offset(0.5, small);  }
     .offset-by-one                   { @include offset(1, small);  }
     .offset-by-two                   { @include offset(2, small);   }
     .offset-by-three                 { @include offset(3, small);   }
     .offset-by-four                  { @include offset(4, small);   }
     .offset-by-five                  { @include offset(5, small);  }
     .offset-by-six                   { @include offset(6, small);   }
     .offset-by-seven                 { @include offset(7, small);   }
     .offset-by-eight                 { @include offset(8, small);  }
     .offset-by-nine                  { @include offset(9, small);  }
     .offset-by-ten                   { @include offset(10, small);  }
     .offset-by-eleven                { @include offset(11, small);  }
     .offset-by-twelve                { @include offset(12, small);  }
     .offset-by-thirteen              { @include offset(13, small);  }
     .offset-by-fourteen              { @include offset(14, small);  }
     .offset-by-fifteen               { @include offset(15, small);  }
		
		.column.alpha, .columns.alpha               { margin-left: 0; margin-right: $grid-gutter-width-when-small/2; }
    .column.omega, .columns.omega               { margin-right: 0; margin-left: $grid-gutter-width-when-small/2; }
    .alpha.omega                                { margin-left: 0; margin-right: 0; }
		

		.column.border-on-the-outside,.columns.border-on-the-outside{
			$gutter : $grid-gutter-width-when-small;
			padding-left:($gutter / 2);    
			margin-left:0;    
			padding-right:($gutter / 2);
			margin-right:0;
		}
		.column.alpha.border-on-the-outside, .columns.alpha.border-on-the-outside    { padding-left: 0; }
		.column.omega.border-on-the-outside, .columns.omega.border-on-the-outside    { padding-right: 0; }
		
	.column.nomargin, .columns.nomargin{margin-left:0; margin-right: 0; padding-left: 0; padding-right: 0;}
	}
		
}


/*  #Mobile (Portrait)
    ================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    .container { width: 300px; }
    .container .columns,
    .container .column { margin: 0; }

		.container .pad-by-half{padding: 0;}
    .container .one.column,
    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
		
		.container .one.column.nomargin,
    .container .one.columns.nomargin,
    .container .two.columns.nomargin,
    .container .three.columns.nomargin,
    .container .four.columns.nomargin,
    .container .five.columns.nomargin,
    .container .six.columns.nomargin,
    .container .seven.columns.nomargin,
    .container .eight.columns.nomargin,
    .container .nine.columns.nomargin,
    .container .ten.columns.nomargin,
    .container .eleven.columns.nomargin,
    .container .twelve.columns.nomargin,
    .container .thirteen.columns.nomargin,
    .container .fourteen.columns.nomargin,
    .container .fifteen.columns.nomargin,
    .container .sixteen.columns.nomargin,
    .container .one-third.column.nomargin,
    .container .two-thirds.column.nomargin,
		
		.container .one.column.nomargin.alpha,
    .container .one.columns.nomargin.alpha,
    .container .two.columns.nomargin.alpha,
    .container .three.columns.nomargin.alpha,
    .container .four.columns.nomargin.alpha,
    .container .five.columns.nomargin.alpha,
    .container .six.columns.nomargin.alpha,
    .container .seven.columns.nomargin.alpha,
    .container .eight.columns.nomargin.alpha,
    .container .nine.columns.nomargin.alpha,
    .container .ten.columns.nomargin.alpha,
    .container .eleven.columns.nomargin.alpha,
    .container .twelve.columns.nomargin.alpha,
    .container .thirteen.columns.nomargin.alpha,
    .container .fourteen.columns.nomargin.alpha,
    .container .fifteen.columns.nomargin.alpha,
    .container .sixteen.columns.nomargin.alpha,
    .container .one-third.column.nomargin.alpha,
    .container .two-thirds.column.nomargin.alpha,
		.container .one.column.nomargin.omega,
    .container .one.columns.nomargin.omega,
    .container .two.columns.nomargin.omega,
    .container .three.columns.nomargin.omega,
    .container .four.columns.nomargin.omega,
    .container .five.columns.nomargin.omega,
    .container .six.columns.nomargin.omega,
    .container .seven.columns.nomargin.omega,
    .container .eight.columns.nomargin.omega,
    .container .nine.columns.nomargin.omega,
    .container .ten.columns.nomargin.omega,
    .container .eleven.columns.nomargin.omega,
    .container .twelve.columns.nomargin.omega,
    .container .thirteen.columns.nomargin.omega,
    .container .fourteen.columns.nomargin.omega,
    .container .fifteen.columns.nomargin.omega,
    .container .sixteen.columns.nomargin.omega,
    .container .one-third.column.nomargin.omega,
    .container .two-thirds.column.nomargin.omega,
		
    .container .one-third.column,
    .container .two-thirds.column,
	.container .one.column.single-border,
    .container .one.columns.single-border,
    .container .two.columns.single-border,
    .container .three.columns.single-border,
    .container .four.columns.single-border,
    .container .five.columns.single-border,
    .container .six.columns.single-border,
    .container .seven.columns.single-border,
    .container .eight.columns.single-border,
    .container .nine.columns.single-border,
    .container .ten.columns.single-border,
    .container .eleven.columns.single-border,
    .container .twelve.columns.single-border,
    .container .thirteen.columns.single-border,
    .container .fourteen.columns.single-border,
    .container .fifteen.columns.single-border,
    .container .sixteen.columns.single-border,
    .container .one-third.column.single-border,
    .container .two-thirds.column.single-border,
	.container .one.column.dual-border,
    .container .one.columns.dual-border,
    .container .two.columns.dual-border,
    .container .three.columns.dual-border,
    .container .four.columns.dual-border,
    .container .five.columns.dual-border,
    .container .six.columns.dual-border,
    .container .seven.columns.dual-border,
    .container .eight.columns.dual-border,
    .container .nine.columns.dual-border,
    .container .ten.columns.dual-border,
    .container .eleven.columns.dual-border,
    .container .twelve.columns.dual-border,
    .container .thirteen.columns.dual-border,
    .container .fourteen.columns.dual-border,
    .container .fifteen.columns.dual-border,
    .container .sixteen.columns.dual-border,
    .container .one-third.column.dual-border,
    .container .two-thirds.column.dual-border{ width: 300px; }

    /* Offsets */
    .container .offset-by-half,
    .container .offset-by-one,
    .container .offset-by-two,
    .container .offset-by-three,
    .container .offset-by-four,
    .container .offset-by-five,
    .container .offset-by-six,
    .container .offset-by-seven,
    .container .offset-by-eight,
    .container .offset-by-nine,
    .container .offset-by-ten,
    .container .offset-by-eleven,
    .container .offset-by-twelve,
    .container .offset-by-thirteen,
    .container .offset-by-fourteen,
    .container .offset-by-fifteen { padding-left: 0; }

}


/* #Mobile (Landscape)
   ================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container { width: 420px; }
    .container .columns,
    .container .column { margin: 0; }
		.container .pad-by-half{padding: 0;}

    .container .one.column,
    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column,
		
		.container .one.column.nomargin,
    .container .one.columns.nomargin,
    .container .two.columns.nomargin,
    .container .three.columns.nomargin,
    .container .four.columns.nomargin,
    .container .five.columns.nomargin,
    .container .six.columns.nomargin,
    .container .seven.columns.nomargin,
    .container .eight.columns.nomargin,
    .container .nine.columns.nomargin,
    .container .ten.columns.nomargin,
    .container .eleven.columns.nomargin,
    .container .twelve.columns.nomargin,
    .container .thirteen.columns.nomargin,
    .container .fourteen.columns.nomargin,
    .container .fifteen.columns.nomargin,
    .container .sixteen.columns.nomargin,
    .container .one-third.column.nomargin,
    .container .two-thirds.column.nomargin,
		
		.container .one.column.nomargin.alpha,
    .container .one.columns.nomargin.alpha,
    .container .two.columns.nomargin.alpha,
    .container .three.columns.nomargin.alpha,
    .container .four.columns.nomargin.alpha,
    .container .five.columns.nomargin.alpha,
    .container .six.columns.nomargin.alpha,
    .container .seven.columns.nomargin.alpha,
    .container .eight.columns.nomargin.alpha,
    .container .nine.columns.nomargin.alpha,
    .container .ten.columns.nomargin.alpha,
    .container .eleven.columns.nomargin.alpha,
    .container .twelve.columns.nomargin.alpha,
    .container .thirteen.columns.nomargin.alpha,
    .container .fourteen.columns.nomargin.alpha,
    .container .fifteen.columns.nomargin.alpha,
    .container .sixteen.columns.nomargin.alpha,
    .container .one-third.column.nomargin.alpha,
    .container .two-thirds.column.nomargin.alpha,
		.container .one.column.nomargin.omega,
    .container .one.columns.nomargin.omega,
    .container .two.columns.nomargin.omega,
    .container .three.columns.nomargin.omega,
    .container .four.columns.nomargin.omega,
    .container .five.columns.nomargin.omega,
    .container .six.columns.nomargin.omega,
    .container .seven.columns.nomargin.omega,
    .container .eight.columns.nomargin.omega,
    .container .nine.columns.nomargin.omega,
    .container .ten.columns.nomargin.omega,
    .container .eleven.columns.nomargin.omega,
    .container .twelve.columns.nomargin.omega,
    .container .thirteen.columns.nomargin.omega,
    .container .fourteen.columns.nomargin.omega,
    .container .fifteen.columns.nomargin.omega,
    .container .sixteen.columns.nomargin.omega,
    .container .one-third.column.nomargin.omega,
    .container .two-thirds.column.nomargin.omega,
		
		.container .one.column.single-border,
    .container .one.columns.single-border,
    .container .two.columns.single-border,
    .container .three.columns.single-border,
    .container .four.columns.single-border,
    .container .five.columns.single-border,
    .container .six.columns.single-border,
    .container .seven.columns.single-border,
    .container .eight.columns.single-border,
    .container .nine.columns.single-border,
    .container .ten.columns.single-border,
    .container .eleven.columns.single-border,
    .container .twelve.columns.single-border,
    .container .thirteen.columns.single-border,
    .container .fourteen.columns.single-border,
    .container .fifteen.columns.single-border,
    .container .sixteen.columns.single-border,
    .container .one-third.column.single-border,
    .container .two-thirds.column.single-border,
	.container .one.column.dual-border,
    .container .one.columns.dual-border,
    .container .two.columns.dual-border,
    .container .three.columns.dual-border,
    .container .four.columns.dual-border,
    .container .five.columns.dual-border,
    .container .six.columns.dual-border,
    .container .seven.columns.dual-border,
    .container .eight.columns.dual-border,
    .container .nine.columns.dual-border,
    .container .ten.columns.dual-border,
    .container .eleven.columns.dual-border,
    .container .twelve.columns.dual-border,
    .container .thirteen.columns.dual-border,
    .container .fourteen.columns.dual-border,
    .container .fifteen.columns.dual-border,
    .container .sixteen.columns.dual-border,
    .container .one-third.column.dual-border,
    .container .two-thirds.column.dual-border{ width: 420px; }
}


/* #Clearing
   ================================================== */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
   or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.row:after,
.clearfix:after {
    clear: both; }
.row,
.clearfix {
    zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}