/*
Document   : style
Created on : Sep 26, 2012, 11:23:23 PM
Author     : trimmedon
Description:
Purpose of the stylesheet follows.
*/
body {
   height: 100%;
   .main-wrapper {
      width: 100%;
      height: 100%;
      min-height: 500px;
      .front-containter {
         position: relative;
         width: 100%;
         height: 100%;
         @include clearfix;
         .image-wrapper {
            width: 200%;
            height: 200%;
            .main-image {
               min-height: 50%;
               min-width: 50%;
            }
         }
         .dots {
            top: 0;
            right: 0;
            left: 0;
            position: absolute;
            background: url('/source/images/sprites/dots.png') repeat;
            height: 497px;
            .home-wrapper {
               position: absolute;
               top: 210px;
               font-family: aboree;
               color: #FFFFFF;
               .welcome {
                  margin-bottom: 50px;
                  @include text-shadow(1px 1px 3px rgba(0,0,0, 1));
                  .welcome-notice {
                     font-size: 75px;
                     display: block;
                  }
                  .welcome-slogan {
                     font-size: 30px;
                     font-family: slogan;
                     margin-left: 13px;
                  }
               }
               .user-wrapper {
                  position: relative;
                  .user-login {
                     position: absolute;
                     top: 0;
                     left: 0;
                     display: block;
                     @include clearfix;
                     li {
                        float: left;
                        line-height: 1.5em;
                        font-size: 25px;
                        a {
                           color: #FFFFFF;
                           display: block;
                           padding: 10px 15px;
                           &.login {
                              background-color: $login-button-background-color;
                              margin-right: 10px;
                              @include border-radius(10px 0 0 0);
                           }
                           &.signup {
                              background-color: $signup-button-background-color;
                              @include border-radius(0 0 10px 0);
                           } 
                        }
                     }
                  }  
               }
            }
         }
      }
   }
   a {
      text-decoration: none;
   }
}