/*
Document   : _variables
Created on : 21/02/2013, 11:36:13 PM
Author     : trimmedon
Description:
Purpose of the stylesheet follows.
*/

$main-background-color: #021005;
$login-button-background-color: rgba(2, 16, 5, 1);
$signup-button-background-color: rgba(35, 35, 1, 1);