html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

.row {
  margin-bottom: 20px;
}

.pad-by-half {
  padding: 0 20px;
}

.container {
  /* Nested Column Classes */
}
.container .column, .container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
.container .one.column, .container .one-third.column, .container .two-thirds.column,
.container .one.columns {
  width: 40px;
}
.container .two.columns {
  width: 100px;
}
.container .three.columns {
  width: 160px;
}
.container .four.columns {
  width: 220px;
}
.container .five.columns {
  width: 280px;
}
.container .six.columns {
  width: 340px;
}
.container .seven.columns {
  width: 400px;
}
.container .eight.columns {
  width: 460px;
}
.container .nine.columns {
  width: 520px;
}
.container .ten.columns {
  width: 580px;
}
.container .eleven.columns {
  width: 640px;
}
.container .twelve.columns {
  width: 700px;
}
.container .thirteen.columns {
  width: 760px;
}
.container .fourteen.columns {
  width: 820px;
}
.container .fifteen.columns {
  width: 880px;
}
.container .sixteen.columns {
  width: 940px;
}
.container .one.column.nomargin, .container .nomargin.one-third.column, .container .nomargin.two-thirds.column,
.container .one.columns.nomargin {
  width: 60px;
}
.container .two.columns.nomargin {
  width: 120px;
}
.container .three.columns.nomargin {
  width: 180px;
}
.container .four.columns.nomargin {
  width: 240px;
}
.container .five.columns.nomargin {
  width: 300px;
}
.container .six.columns.nomargin {
  width: 360px;
}
.container .seven.columns.nomargin {
  width: 420px;
}
.container .eight.columns.nomargin {
  width: 480px;
}
.container .nine.columns.nomargin {
  width: 540px;
}
.container .ten.columns.nomargin {
  width: 600px;
}
.container .eleven.columns.nomargin {
  width: 660px;
}
.container .twelve.columns.nomargin {
  width: 720px;
}
.container .thirteen.columns.nomargin {
  width: 780px;
}
.container .fourteen.columns.nomargin {
  width: 840px;
}
.container .fifteen.columns.nomargin {
  width: 900px;
}
.container .sixteen.columns.nomargin {
  width: 960px;
}
.container .one.column.nomargin.alpha, .container .nomargin.alpha.one-third.column, .container .nomargin.alpha.two-thirds.column, .container .one.column.nomargin.omega, .container .nomargin.omega.one-third.column, .container .nomargin.omega.two-thirds.column,
.container .one.columns.nomargin.alpha, .container .one.columns.nomargin.omega {
  width: 50px;
}
.container .two.columns.nomargin.alpha, .container .two.columns.nomargin.omega {
  width: 110px;
}
.container .three.columns.nomargin.alpha, .container .three.columns.nomargin.omega {
  width: 170px;
}
.container .four.columns.nomargin.alpha, .container .four.columns.nomargin.omega {
  width: 230px;
}
.container .five.columns.nomargin.alpha, .container .five.columns.nomargin.omega {
  width: 290px;
}
.container .six.columns.nomargin.alpha, .container .six.columns.nomargin.omega {
  width: 350px;
}
.container .seven.columns.nomargin.alpha, .container .seven.columns.nomargin.omega {
  width: 410px;
}
.container .eight.columns.nomargin.alpha, .container .eight.columns.nomargin.omega {
  width: 470px;
}
.container .nine.columns.nomargin.alpha, .container .nine.columns.nomargin.omega {
  width: 530px;
}
.container .ten.columns.nomargin.alpha, .container .ten.columns.nomargin.omega {
  width: 590px;
}
.container .eleven.columns.nomargin.alpha, .container .eleven.columns.nomargin.omega {
  width: 650px;
}
.container .twelve.columns.nomargin.alpha, .container .twelve.columns.nomargin.omega {
  width: 710px;
}
.container .thirteen.columns.nomargin.alpha, .container .thirteen.columns.nomargin.omega {
  width: 770px;
}
.container .fourteen.columns.nomargin.alpha, .container .fourteen.columns.nomargin.omega {
  width: 830px;
}
.container .fifteen.columns.nomargin.alpha, .container .fifteen.columns.nomargin.omega {
  width: 890px;
}
.container .sixteen.columns.nomargin.alpha, .container .sixteen.columns.nomargin.omega {
  width: 950px;
}
.container .one.column.single-border, .container .single-border.one-third.column, .container .single-border.two-thirds.column,
.container .one.columns.single-border {
  width: 39px;
}
.container .two.columns.single-border {
  width: 99px;
}
.container .three.columns.single-border {
  width: 159px;
}
.container .four.columns.single-border {
  width: 219px;
}
.container .five.columns.single-border {
  width: 279px;
}
.container .six.columns.single-border {
  width: 339px;
}
.container .seven.columns.single-border {
  width: 399px;
}
.container .eight.columns.single-border {
  width: 459px;
}
.container .nine.columns.single-border {
  width: 519px;
}
.container .ten.columns.single-border {
  width: 579px;
}
.container .eleven.columns.single-border {
  width: 639px;
}
.container .twelve.columns.single-border {
  width: 699px;
}
.container .thirteen.columns.single-border {
  width: 759px;
}
.container .fourteen.columns.single-border {
  width: 819px;
}
.container .fifteen.columns.single-border {
  width: 879px;
}
.container .sixteen.columns.single-border {
  width: 939px;
}
.container .one.column.dual-border, .container .dual-border.one-third.column, .container .dual-border.two-thirds.column,
.container .one.columns.dual-border {
  width: 38px;
}
.container .two.columns.dual-border {
  width: 98px;
}
.container .three.columns.dual-border {
  width: 158px;
}
.container .four.columns.dual-border {
  width: 218px;
}
.container .five.columns.dual-border {
  width: 278px;
}
.container .six.columns.dual-border {
  width: 338px;
}
.container .seven.columns.dual-border {
  width: 398px;
}
.container .eight.columns.dual-border {
  width: 458px;
}
.container .nine.columns.dual-border {
  width: 518px;
}
.container .ten.columns.dual-border {
  width: 578px;
}
.container .eleven.columns.dual-border {
  width: 638px;
}
.container .twelve.columns.dual-border {
  width: 698px;
}
.container .thirteen.columns.dual-border {
  width: 758px;
}
.container .fourteen.columns.dual-border {
  width: 818px;
}
.container .fifteen.columns.dual-border {
  width: 878px;
}
.container .sixteen.columns.dual-border {
  width: 938px;
}
.container .one-third.column {
  width: 300px;
}
.container .two-thirds.column {
  width: 600px;
}
.container .offset-by-half {
  padding-left: 30px;
}
.container .offset-by-one {
  padding-left: 60px;
}
.container .offset-by-two {
  padding-left: 120px;
}
.container .offset-by-three {
  padding-left: 180px;
}
.container .offset-by-four {
  padding-left: 240px;
}
.container .offset-by-five {
  padding-left: 300px;
}
.container .offset-by-six {
  padding-left: 360px;
}
.container .offset-by-seven {
  padding-left: 420px;
}
.container .offset-by-eight {
  padding-left: 480px;
}
.container .offset-by-nine {
  padding-left: 540px;
}
.container .offset-by-ten {
  padding-left: 600px;
}
.container .offset-by-eleven {
  padding-left: 660px;
}
.container .offset-by-twelve {
  padding-left: 720px;
}
.container .offset-by-thirteen {
  padding-left: 780px;
}
.container .offset-by-fourteen {
  padding-left: 840px;
}
.container .offset-by-fifteen {
  padding-left: 900px;
}
.container .column.alpha, .container .columns.alpha {
  margin-left: 0;
}
.container .column.omega, .container .columns.omega {
  margin-right: 0;
}
.container .column.border-on-the-outside, .container .columns.border-on-the-outside {
  padding-left: 10px;
  margin-left: 0;
  padding-right: 10px;
  margin-right: 0;
}
.container .column.alpha.border-on-the-outside, .container .columns.alpha.border-on-the-outside {
  padding-left: 0;
}
.container .column.omega.border-on-the-outside, .container .columns.omega.border-on-the-outside {
  padding-right: 0;
}
.container .column.nomargin, .container .columns.nomargin {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

/* #Tablet (Portrait)
   ================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .pad-by-half {
    padding: 0 14px;
  }

  .container {
    width: 768px;
  }

  .container {
    /* Offsets */
  }
  .container .column, .container .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
  }
  .container .column,
  .container .columns {
    margin-left: 10px;
    margin-right: 10px;
  }
  .container .one.column, .container .one-third.column, .container .two-thirds.column,
  .container .one.columns {
    width: 28px;
  }
  .container .two.columns {
    width: 76px;
  }
  .container .three.columns {
    width: 124px;
  }
  .container .four.columns {
    width: 172px;
  }
  .container .five.columns {
    width: 220px;
  }
  .container .six.columns {
    width: 268px;
  }
  .container .seven.columns {
    width: 316px;
  }
  .container .eight.columns {
    width: 364px;
  }
  .container .nine.columns {
    width: 412px;
  }
  .container .ten.columns {
    width: 460px;
  }
  .container .eleven.columns {
    width: 508px;
  }
  .container .twelve.columns {
    width: 556px;
  }
  .container .thirteen.columns {
    width: 604px;
  }
  .container .fourteen.columns {
    width: 652px;
  }
  .container .fifteen.columns {
    width: 700px;
  }
  .container .sixteen.columns {
    width: 748px;
  }
  .container .one.column.nomargin, .container .nomargin.one-third.column, .container .nomargin.two-thirds.column,
  .container .one.columns.nomargin {
    width: 48px;
  }
  .container .two.columns.nomargin {
    width: 96px;
  }
  .container .three.columns.nomargin {
    width: 144px;
  }
  .container .four.columns.nomargin {
    width: 192px;
  }
  .container .five.columns.nomargin {
    width: 240px;
  }
  .container .six.columns.nomargin {
    width: 288px;
  }
  .container .seven.columns.nomargin {
    width: 336px;
  }
  .container .eight.columns.nomargin {
    width: 384px;
  }
  .container .nine.columns.nomargin {
    width: 432px;
  }
  .container .ten.columns.nomargin {
    width: 480px;
  }
  .container .eleven.columns.nomargin {
    width: 528px;
  }
  .container .twelve.columns.nomargin {
    width: 576px;
  }
  .container .thirteen.columns.nomargin {
    width: 624px;
  }
  .container .fourteen.columns.nomargin {
    width: 672px;
  }
  .container .fifteen.columns.nomargin {
    width: 720px;
  }
  .container .sixteen.columns.nomargin {
    width: 768px;
  }
  .container .one.column.nomargin.alpha, .container .nomargin.alpha.one-third.column, .container .nomargin.alpha.two-thirds.column, .container .one.column.nomargin.omega, .container .nomargin.omega.one-third.column, .container .nomargin.omega.two-thirds.column,
  .container .one.columns.nomargin.alpha, .container .one.columns.nomargin.omega {
    width: 38px;
  }
  .container .two.columns.nomargin.alpha, .container .two.columns.nomargin.omega {
    width: 86px;
  }
  .container .three.columns.nomargin.alpha, .container .three.columns.nomargin.omega {
    width: 134px;
  }
  .container .four.columns.nomargin.alpha, .container .four.columns.nomargin.omega {
    width: 182px;
  }
  .container .five.columns.nomargin.alpha, .container .five.columns.nomargin.omega {
    width: 230px;
  }
  .container .six.columns.nomargin.alpha, .container .six.columns.nomargin.omega {
    width: 278px;
  }
  .container .seven.columns.nomargin.alpha, .container .seven.columns.nomargin.omega {
    width: 326px;
  }
  .container .eight.columns.nomargin.alpha, .container .eight.columns.nomargin.omega {
    width: 374px;
  }
  .container .nine.columns.nomargin.alpha, .container .nine.columns.nomargin.omega {
    width: 422px;
  }
  .container .ten.columns.nomargin.alpha, .container .ten.columns.nomargin.omega {
    width: 470px;
  }
  .container .eleven.columns.nomargin.alpha, .container .eleven.columns.nomargin.omega {
    width: 518px;
  }
  .container .twelve.columns.nomargin.alpha, .container .twelve.columns.nomargin.omega {
    width: 566px;
  }
  .container .thirteen.columns.nomargin.alpha, .container .thirteen.columns.nomargin.omega {
    width: 614px;
  }
  .container .fourteen.columns.nomargin.alpha, .container .fourteen.columns.nomargin.omega {
    width: 662px;
  }
  .container .fifteen.columns.nomargin.alpha, .container .fifteen.columns.nomargin.omega {
    width: 710px;
  }
  .container .sixteen.columns.nomargin.alpha, .container .sixteen.columns.nomargin.omega {
    width: 758px;
  }
  .container .one.column.single-border, .container .single-border.one-third.column, .container .single-border.two-thirds.column,
  .container .one.columns.single-border {
    width: 27px;
  }
  .container .two.columns.single-border {
    width: 75px;
  }
  .container .three.columns.single-border {
    width: 123px;
  }
  .container .four.columns.single-border {
    width: 171px;
  }
  .container .five.columns.single-border {
    width: 219px;
  }
  .container .six.columns.single-border {
    width: 267px;
  }
  .container .seven.columns.single-border {
    width: 315px;
  }
  .container .eight.columns.single-border {
    width: 363px;
  }
  .container .nine.columns.single-border {
    width: 411px;
  }
  .container .ten.columns.single-border {
    width: 459px;
  }
  .container .eleven.columns.single-border {
    width: 507px;
  }
  .container .twelve.columns.single-border {
    width: 555px;
  }
  .container .thirteen.columns.single-border {
    width: 603px;
  }
  .container .fourteen.columns.single-border {
    width: 651px;
  }
  .container .fifteen.columns.single-border {
    width: 699px;
  }
  .container .sixteen.columns.single-border {
    width: 747px;
  }
  .container .one.column.dual-border, .container .dual-border.one-third.column, .container .dual-border.two-thirds.column,
  .container .one.columns.dual-border {
    width: 26px;
  }
  .container .two.columns.dual-border {
    width: 74px;
  }
  .container .three.columns.dual-border {
    width: 122px;
  }
  .container .four.columns.dual-border {
    width: 170px;
  }
  .container .five.columns.dual-border {
    width: 218px;
  }
  .container .six.columns.dual-border {
    width: 266px;
  }
  .container .seven.columns.dual-border {
    width: 314px;
  }
  .container .eight.columns.dual-border {
    width: 362px;
  }
  .container .nine.columns.dual-border {
    width: 410px;
  }
  .container .ten.columns.dual-border {
    width: 458px;
  }
  .container .eleven.columns.dual-border {
    width: 506px;
  }
  .container .twelve.columns.dual-border {
    width: 554px;
  }
  .container .thirteen.columns.dual-border {
    width: 602px;
  }
  .container .fourteen.columns.dual-border {
    width: 650px;
  }
  .container .fifteen.columns.dual-border {
    width: 698px;
  }
  .container .sixteen.columns.dual-border {
    width: 746px;
  }
  .container .one-third.column {
    width: 240px;
  }
  .container .two-thirds.column {
    width: 480px;
  }
  .container .offset-by-half {
    padding-left: 24px;
  }
  .container .offset-by-one {
    padding-left: 48px;
  }
  .container .offset-by-two {
    padding-left: 96px;
  }
  .container .offset-by-three {
    padding-left: 144px;
  }
  .container .offset-by-four {
    padding-left: 192px;
  }
  .container .offset-by-five {
    padding-left: 240px;
  }
  .container .offset-by-six {
    padding-left: 288px;
  }
  .container .offset-by-seven {
    padding-left: 336px;
  }
  .container .offset-by-eight {
    padding-left: 384px;
  }
  .container .offset-by-nine {
    padding-left: 432px;
  }
  .container .offset-by-ten {
    padding-left: 480px;
  }
  .container .offset-by-eleven {
    padding-left: 528px;
  }
  .container .offset-by-twelve {
    padding-left: 576px;
  }
  .container .offset-by-thirteen {
    padding-left: 624px;
  }
  .container .offset-by-fourteen {
    padding-left: 672px;
  }
  .container .offset-by-fifteen {
    padding-left: 720px;
  }
  .container .column.alpha, .container .columns.alpha {
    margin-left: 0;
    margin-right: 10px;
  }
  .container .column.omega, .container .columns.omega {
    margin-right: 0;
    margin-left: 10px;
  }
  .container .alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }
  .container .column.border-on-the-outside, .container .columns.border-on-the-outside {
    padding-left: 10px;
    margin-left: 0;
    padding-right: 10px;
    margin-right: 0;
  }
  .container .column.alpha.border-on-the-outside, .container .columns.alpha.border-on-the-outside {
    padding-left: 0;
  }
  .container .column.omega.border-on-the-outside, .container .columns.omega.border-on-the-outside {
    padding-right: 0;
  }
  .container .column.nomargin, .container .columns.nomargin {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
/*  #Mobile (Portrait)
    ================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .container {
    width: 300px;
  }

  .container .columns,
  .container .column {
    margin: 0;
  }

  .container .pad-by-half {
    padding: 0;
  }

  .container .one.column, .container .one-third.column, .container .two-thirds.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one.column.nomargin,
  .container .nomargin.one-third.column,
  .container .nomargin.two-thirds.column,
  .container .one.columns.nomargin,
  .container .two.columns.nomargin,
  .container .three.columns.nomargin,
  .container .four.columns.nomargin,
  .container .five.columns.nomargin,
  .container .six.columns.nomargin,
  .container .seven.columns.nomargin,
  .container .eight.columns.nomargin,
  .container .nine.columns.nomargin,
  .container .ten.columns.nomargin,
  .container .eleven.columns.nomargin,
  .container .twelve.columns.nomargin,
  .container .thirteen.columns.nomargin,
  .container .fourteen.columns.nomargin,
  .container .fifteen.columns.nomargin,
  .container .sixteen.columns.nomargin,
  .container .one-third.column.nomargin,
  .container .two-thirds.column.nomargin,
  .container .one.column.nomargin.alpha,
  .container .nomargin.alpha.one-third.column,
  .container .nomargin.alpha.two-thirds.column,
  .container .one.columns.nomargin.alpha,
  .container .two.columns.nomargin.alpha,
  .container .three.columns.nomargin.alpha,
  .container .four.columns.nomargin.alpha,
  .container .five.columns.nomargin.alpha,
  .container .six.columns.nomargin.alpha,
  .container .seven.columns.nomargin.alpha,
  .container .eight.columns.nomargin.alpha,
  .container .nine.columns.nomargin.alpha,
  .container .ten.columns.nomargin.alpha,
  .container .eleven.columns.nomargin.alpha,
  .container .twelve.columns.nomargin.alpha,
  .container .thirteen.columns.nomargin.alpha,
  .container .fourteen.columns.nomargin.alpha,
  .container .fifteen.columns.nomargin.alpha,
  .container .sixteen.columns.nomargin.alpha,
  .container .one-third.column.nomargin.alpha,
  .container .two-thirds.column.nomargin.alpha,
  .container .one.column.nomargin.omega,
  .container .nomargin.omega.one-third.column,
  .container .nomargin.omega.two-thirds.column,
  .container .one.columns.nomargin.omega,
  .container .two.columns.nomargin.omega,
  .container .three.columns.nomargin.omega,
  .container .four.columns.nomargin.omega,
  .container .five.columns.nomargin.omega,
  .container .six.columns.nomargin.omega,
  .container .seven.columns.nomargin.omega,
  .container .eight.columns.nomargin.omega,
  .container .nine.columns.nomargin.omega,
  .container .ten.columns.nomargin.omega,
  .container .eleven.columns.nomargin.omega,
  .container .twelve.columns.nomargin.omega,
  .container .thirteen.columns.nomargin.omega,
  .container .fourteen.columns.nomargin.omega,
  .container .fifteen.columns.nomargin.omega,
  .container .sixteen.columns.nomargin.omega,
  .container .one-third.column.nomargin.omega,
  .container .two-thirds.column.nomargin.omega,
  .container .one-third.column,
  .container .two-thirds.column,
  .container .one.column.single-border,
  .container .single-border.one-third.column,
  .container .single-border.two-thirds.column,
  .container .one.columns.single-border,
  .container .two.columns.single-border,
  .container .three.columns.single-border,
  .container .four.columns.single-border,
  .container .five.columns.single-border,
  .container .six.columns.single-border,
  .container .seven.columns.single-border,
  .container .eight.columns.single-border,
  .container .nine.columns.single-border,
  .container .ten.columns.single-border,
  .container .eleven.columns.single-border,
  .container .twelve.columns.single-border,
  .container .thirteen.columns.single-border,
  .container .fourteen.columns.single-border,
  .container .fifteen.columns.single-border,
  .container .sixteen.columns.single-border,
  .container .one-third.column.single-border,
  .container .two-thirds.column.single-border,
  .container .one.column.dual-border,
  .container .dual-border.one-third.column,
  .container .dual-border.two-thirds.column,
  .container .one.columns.dual-border,
  .container .two.columns.dual-border,
  .container .three.columns.dual-border,
  .container .four.columns.dual-border,
  .container .five.columns.dual-border,
  .container .six.columns.dual-border,
  .container .seven.columns.dual-border,
  .container .eight.columns.dual-border,
  .container .nine.columns.dual-border,
  .container .ten.columns.dual-border,
  .container .eleven.columns.dual-border,
  .container .twelve.columns.dual-border,
  .container .thirteen.columns.dual-border,
  .container .fourteen.columns.dual-border,
  .container .fifteen.columns.dual-border,
  .container .sixteen.columns.dual-border,
  .container .one-third.column.dual-border,
  .container .two-thirds.column.dual-border {
    width: 300px;
  }

  /* Offsets */
  .container .offset-by-half,
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0;
  }
}
/* #Mobile (Landscape)
   ================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px;
  }

  .container .columns,
  .container .column {
    margin: 0;
  }

  .container .pad-by-half {
    padding: 0;
  }

  .container .one.column, .container .one-third.column, .container .two-thirds.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column,
  .container .one.column.nomargin,
  .container .nomargin.one-third.column,
  .container .nomargin.two-thirds.column,
  .container .one.columns.nomargin,
  .container .two.columns.nomargin,
  .container .three.columns.nomargin,
  .container .four.columns.nomargin,
  .container .five.columns.nomargin,
  .container .six.columns.nomargin,
  .container .seven.columns.nomargin,
  .container .eight.columns.nomargin,
  .container .nine.columns.nomargin,
  .container .ten.columns.nomargin,
  .container .eleven.columns.nomargin,
  .container .twelve.columns.nomargin,
  .container .thirteen.columns.nomargin,
  .container .fourteen.columns.nomargin,
  .container .fifteen.columns.nomargin,
  .container .sixteen.columns.nomargin,
  .container .one-third.column.nomargin,
  .container .two-thirds.column.nomargin,
  .container .one.column.nomargin.alpha,
  .container .nomargin.alpha.one-third.column,
  .container .nomargin.alpha.two-thirds.column,
  .container .one.columns.nomargin.alpha,
  .container .two.columns.nomargin.alpha,
  .container .three.columns.nomargin.alpha,
  .container .four.columns.nomargin.alpha,
  .container .five.columns.nomargin.alpha,
  .container .six.columns.nomargin.alpha,
  .container .seven.columns.nomargin.alpha,
  .container .eight.columns.nomargin.alpha,
  .container .nine.columns.nomargin.alpha,
  .container .ten.columns.nomargin.alpha,
  .container .eleven.columns.nomargin.alpha,
  .container .twelve.columns.nomargin.alpha,
  .container .thirteen.columns.nomargin.alpha,
  .container .fourteen.columns.nomargin.alpha,
  .container .fifteen.columns.nomargin.alpha,
  .container .sixteen.columns.nomargin.alpha,
  .container .one-third.column.nomargin.alpha,
  .container .two-thirds.column.nomargin.alpha,
  .container .one.column.nomargin.omega,
  .container .nomargin.omega.one-third.column,
  .container .nomargin.omega.two-thirds.column,
  .container .one.columns.nomargin.omega,
  .container .two.columns.nomargin.omega,
  .container .three.columns.nomargin.omega,
  .container .four.columns.nomargin.omega,
  .container .five.columns.nomargin.omega,
  .container .six.columns.nomargin.omega,
  .container .seven.columns.nomargin.omega,
  .container .eight.columns.nomargin.omega,
  .container .nine.columns.nomargin.omega,
  .container .ten.columns.nomargin.omega,
  .container .eleven.columns.nomargin.omega,
  .container .twelve.columns.nomargin.omega,
  .container .thirteen.columns.nomargin.omega,
  .container .fourteen.columns.nomargin.omega,
  .container .fifteen.columns.nomargin.omega,
  .container .sixteen.columns.nomargin.omega,
  .container .one-third.column.nomargin.omega,
  .container .two-thirds.column.nomargin.omega,
  .container .one.column.single-border,
  .container .single-border.one-third.column,
  .container .single-border.two-thirds.column,
  .container .one.columns.single-border,
  .container .two.columns.single-border,
  .container .three.columns.single-border,
  .container .four.columns.single-border,
  .container .five.columns.single-border,
  .container .six.columns.single-border,
  .container .seven.columns.single-border,
  .container .eight.columns.single-border,
  .container .nine.columns.single-border,
  .container .ten.columns.single-border,
  .container .eleven.columns.single-border,
  .container .twelve.columns.single-border,
  .container .thirteen.columns.single-border,
  .container .fourteen.columns.single-border,
  .container .fifteen.columns.single-border,
  .container .sixteen.columns.single-border,
  .container .one-third.column.single-border,
  .container .two-thirds.column.single-border,
  .container .one.column.dual-border,
  .container .dual-border.one-third.column,
  .container .dual-border.two-thirds.column,
  .container .one.columns.dual-border,
  .container .two.columns.dual-border,
  .container .three.columns.dual-border,
  .container .four.columns.dual-border,
  .container .five.columns.dual-border,
  .container .six.columns.dual-border,
  .container .seven.columns.dual-border,
  .container .eight.columns.dual-border,
  .container .nine.columns.dual-border,
  .container .ten.columns.dual-border,
  .container .eleven.columns.dual-border,
  .container .twelve.columns.dual-border,
  .container .thirteen.columns.dual-border,
  .container .fourteen.columns.dual-border,
  .container .fifteen.columns.dual-border,
  .container .sixteen.columns.dual-border,
  .container .one-third.column.dual-border,
  .container .two-thirds.column.dual-border {
    width: 420px;
  }
}
/* #Clearing
   ================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
   or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.row:after,
.clearfix:after {
  clear: both;
}

.row,
.clearfix {
  zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*
Document   : _variables
Created on : 21/02/2013, 11:36:13 PM
Author     : trimmedon
Description:
Purpose of the stylesheet follows.
*/
/*
Document   : _mixins
Created on : Sep 26, 2012, 11:40:18 PM
Author     : trimmedon
Description:
Purpose of the stylesheet follows.
*/
.sprites-sprite, #footer .copyright .logo .icon {
  background: url('/source/images/sprites-saddf34f305.png') no-repeat;
}

/*
Document   : style
Created on : Sep 26, 2012, 11:23:23 PM
Author     : trimmedon
Description:
Purpose of the stylesheet follows.
*/
body {
  height: 100%;
}
body .main-wrapper {
  width: 100%;
  height: 100%;
  min-height: 500px;
}
body .main-wrapper .front-containter {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  *zoom: 1;
}
body .main-wrapper .front-containter .image-wrapper {
  width: 200%;
  height: 200%;
}
body .main-wrapper .front-containter .image-wrapper .main-image {
  min-height: 50%;
  min-width: 50%;
}
body .main-wrapper .front-containter .dots {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  background: url("/source/images/sprites/dots.png") repeat;
  height: 497px;
}
body .main-wrapper .front-containter .dots .home-wrapper {
  position: absolute;
  top: 210px;
  font-family: aboree;
  color: #FFFFFF;
}
body .main-wrapper .front-containter .dots .home-wrapper .welcome {
  margin-bottom: 50px;
  text-shadow: 1px 1px 3px black;
}
body .main-wrapper .front-containter .dots .home-wrapper .welcome .welcome-notice {
  font-size: 75px;
  display: block;
}
body .main-wrapper .front-containter .dots .home-wrapper .welcome .welcome-slogan {
  font-size: 30px;
  font-family: slogan;
  margin-left: 13px;
}
body .main-wrapper .front-containter .dots .home-wrapper .user-wrapper {
  position: relative;
}
body .main-wrapper .front-containter .dots .home-wrapper .user-wrapper .user-login {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  *zoom: 1;
}
body .main-wrapper .front-containter .dots .home-wrapper .user-wrapper .user-login li {
  float: left;
  line-height: 1.5em;
  font-size: 25px;
}
body .main-wrapper .front-containter .dots .home-wrapper .user-wrapper .user-login li a {
  color: #FFFFFF;
  display: block;
  padding: 10px 15px;
}
body .main-wrapper .front-containter .dots .home-wrapper .user-wrapper .user-login li a.login {
  background-color: #021005;
  margin-right: 10px;
  -webkit-border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
  -ms-border-radius: 10px 0 0 0;
  -o-border-radius: 10px 0 0 0;
  border-radius: 10px 0 0 0;
}
body .main-wrapper .front-containter .dots .home-wrapper .user-wrapper .user-login li a.signup {
  background-color: #232301;
  -webkit-border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  -ms-border-radius: 0 0 10px 0;
  -o-border-radius: 0 0 10px 0;
  border-radius: 0 0 10px 0;
}
body a {
  text-decoration: none;
}

/*
Document   : _login
Created on : 02/03/2013, 1:02:02 PM
Author     : trimmedon
Description:
Purpose of the stylesheet follows.
*/
.login-form-block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  *zoom: 1;
}
.login-form-block .login-form {
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
  *zoom: 1;
}
.login-form-block .login-form .username,
.login-form-block .login-form .password {
  float: left;
}
.login-form-block .login-form .username .input,
.login-form-block .login-form .password .input {
  border: 1px solid #021005;
  line-height: 1em;
  font-size: 16px;
  padding: 10px;
  width: 200px;
  color: #111111;
  font-family: aboree;
  display: block;
  margin-right: 10px;
  -webkit-box-shadow: #cccccc 0 0 3px 1px inset;
  -moz-box-shadow: #cccccc 0 0 3px 1px inset;
  box-shadow: #cccccc 0 0 3px 1px inset;
}
.login-form-block .login-form .username .input:focus,
.login-form-block .login-form .password .input:focus {
  -webkit-box-shadow: #232301 0 0 8px, #aaaaaa 0 0 3px 1px inset;
  -moz-box-shadow: #232301 0 0 8px, #aaaaaa 0 0 3px 1px inset;
  box-shadow: #232301 0 0 8px, #aaaaaa 0 0 3px 1px inset;
}
.login-form-block .login-form .username .fg,
.login-form-block .login-form .password .fg {
  color: #ffffff;
  margin-left: 1px;
  margin-top: 5px;
  font-size: 12px;
  text-shadow: 0 1px 0 black;
}
.login-form-block .login-form .username .input {
  -webkit-border-radius: 6px 0 0 0;
  -moz-border-radius: 6px 0 0 0;
  -ms-border-radius: 6px 0 0 0;
  -o-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}
.login-form-block .login-form .password .input {
  -webkit-border-radius: 0 0 6px 0;
  -moz-border-radius: 0 0 6px 0;
  -ms-border-radius: 0 0 6px 0;
  -o-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}
.login-form-block .login-form .login-button {
  border: 1px solid #010b04;
  padding: 9px 10px;
  font-size: 16px;
  font-family: aboree;
  line-height: 1em;
  color: #FFFFFF;
  cursor: pointer;
  text-shadow: 0 -1px 0 black;
  background-color: #021005;
  background-image: linear-gradient(#05270c, #021005);
  -webkit-border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0;
  -ms-border-radius: 0 10px 0 0;
  -o-border-radius: 0 10px 0 0;
  border-radius: 0 10px 0 0;
}
.login-form-block .login-form .login-button:active {
  background-image: linear-gradient(#05270c, #031506);
}
.login-form-block .signup {
  color: #ffffff;
  font-size: 15px;
  text-shadow: 0 1px 0 black;
}

/*
Document   : _register
Created on : 02/03/2013, 1:03:03 PM
Author     : trimmedon
Description:
Purpose of the stylesheet follows.
*/
.register-form-block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

/*
Document   : footer
Created on : Sep 26, 2012, 11:25:40 PM
Author     : trimmedon
Description:
Purpose of the stylesheet follows.
*/
#footer {
  border-top: 1px solid #010b04;
  padding-top: 20px;
  text-align: center;
  margin-top: -3px;
  position: relative;
  bottom: 0;
}
#footer .copyright {
  overflow: hidden;
  *zoom: 1;
}
#footer .copyright .logo {
  display: block;
  float: left;
  font-size: 15px;
  font-family: aboree;
  overflow: hidden;
  *zoom: 1;
}
#footer .copyright .logo .icon {
  display: block;
  float: left;
  margin-right: 5px;
  height: 18px;
  width: 18px;
  background-position: -93px 0;
}
#footer .copyright .logo .site-title {
  margin-top: 2px;
  display: block;
  float: left;
}
#footer .copyright .terms-of-use {
  font-family: sans-serif;
  float: right;
  font-size: 11px;
  line-height: 1.2em;
  overflow: hidden;
  *zoom: 1;
}
#footer .copyright .terms-of-use li {
  float: left;
  margin-right: 10px;
}
#footer .copyright .terms-of-use li a {
  text-decoration: none;
  color: #232301;
}
#footer .copyright .terms-of-use li:last-child {
  margin-right: 0;
}
#footer a {
  color: #000000;
  text-decoration: none;
}

@font-face {
  font-family: "aboree";
  src: url('/source/fonts/kai/abeatbykairegular-webfont.eot') format('embedded-opentype'), url('/source/fonts/kai/abeatbykairegular-webfont.svg') format('svg'), url('/source/fonts/kai/abeatbykairegular-webfont.ttf') format('truetype'), url('/source/fonts/kai/abeatbykairegular-webfont.woff') format('woff');
}

@font-face {
  font-family: "trimmedon";
  src: url('/source/fonts/wow/WorldofWater-Regular.ttf') format('truetype'), url('/source/fonts/wow/WorldofWater-Regular.otf') format('opentype'), url('/source/fonts/wow/WorldofWater-Regular.woff') format('woff'), url('/source/fonts/wow/WorldofWater-Regular.svg') format('svg'), url('/source/fonts/wow/WorldofWater-Regular.eot') format('embedded-opentype');
}

@font-face {
  font-family: "slogan";
  src: url('/source/fonts/quicksand_book-webfont.eot') format('embedded-opentype'), url('/source/fonts/quicksand_book-webfont.svg') format('svg'), url('/source/fonts/quicksand_book-webfont.ttf') format('truetype'), url('/source/fonts/quicksand_book-webfont.woff') format('woff');
}
